.container_logo {
    display: flex;
    padding: 0.9rem;
    margin:auto;
}

.input_control {
  width: 300px;
}

.input_control.input_control_1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #E7E7E7;
    padding:15px;
    border-radius: 6px;
    margin-bottom: 35px;
}

label img .container_logo {
  width: 16px;
  /* position:relative; */
  padding-top: 3px;
}

.input_control, input_control-row input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #E7E7E7;
  padding:15px;
  border-radius: 6px;
  margin-bottom: 35px;
}

.input_control input {
  font-size: 18px;
  padding-left:10px;
  outline: 0;
  border:0;
  background: #E7E7E7;
  font-family: sans-serif, verdana;
  color: black;
}
.tags_container {
  align-items: flex-start;
  justify-content: left;
  display: flex;
}
.input_control_2 {
  margin-right: 25px;
  background-color: #3282F7;
  width: 50%;
}
.input_control_2 input {
  background-color:#3282F7;
}
.input_control_3 {
  margin-right: 25px;
  background-color: #68D9A4;
} 
.input_control_3 input {
  background-color:#68D9A4;
}
.input_control_4{
  background-color: #ED6454;
}
.input_control_4 input {
  background-color: #ED6454;
 
}
.input_control_4 input::placeholder, .input_control_3 input::placeholder, .input_control_2 input::placeholder {
  color:white;
  padding-right: 23px;
} 
.width_chevron {
  width: 0.9rem;
}

#ingredients_input {
  position:relative;
}

#appliance_input {
  position:relative;
}

#ustensils_input {
  position:relative;
}

.ingredients_container {
  display: none;
  background-color: #3282F7;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 45px;
  left: 0;
  z-index: 1;
}

.ingredients_container button {
  border: none;
  color: white;
  background-color: #3282F7;
}

.ingredients_container button:hover {
  background-color: #2A6CC0;
  cursor: pointer;
}

.appliance_container {
  display: none;
  background-color: #68D9A4;
  text-align: left;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 45px;
  left: 0;
  z-index: 1;
}

.appliance_container button {
  border: none;
  color: white;
  background-color: #68D9A4;
}

.appliance_container button:hover {
  background-color: #4DBF7F;
  cursor: pointer;
}

.tags_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin-bottom: 35px;
}

.tags_list button {
  border: none;
  color: white;
  background-color: #3282F7;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 6px;
}

.tag_btn {
  display: flex;
  align-items: center;
}

.open {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.rotate {
  transform: rotate(180deg);
}
