@import 'recipeCard.css';

body {
    margin: 0 auto;
    max-width: 1240px;
}

h1 {
    font-family: "DM Sans", sans-serif;
    color: #D04F4F;
    margin-top: 0;
}

header {
    text-align: center;
    margin-top: 2rem;
}

